/* ceci est un commentaire pour StefanoB */
/* les 2 classes css suivantes changent les dropdown list en noir pour thèmes,format et organisation */
.nav .caret {
  border-top-color: black !important;
  border-bottom-color: black !important;
}

.dropdown a {
  color: #555 !important;
}
#icon_catalog {
  color: #555 !important;
}